rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 1. Users can only create their own user document.
    // 2. Any user can query the users collection to check for usernames.
    // 3. Authenticated users can only read, update, or delete their own profile.
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow list: if true;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // 2. All authenticated users have full read and write access to all other data 
    //    (chats, friends, etc.), but not the users collection which has stricter rules.
    match /{path=**}/documents/{document} {
      allow read, write: if request.auth != null;
    }
  }
}
