@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    
    --chat-bg-default: hsl(var(--background));
    --chat-bg-rose: hsl(346.8 77.2% 49.8%);
    --chat-bg-violet: hsl(262.1 83.3% 57.8%);
    --chat-bg-green: hsl(142.1 70.2% 41.3%);
    --chat-bg-yellow: hsl(47.9 95.8% 53.1%);
    --chat-bg-blue: hsl(221.2 83.2% 53.3%);
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 142.1 76.2% 36.3%;
    
    --chat-bg-default: hsl(var(--background));
    --chat-bg-rose: hsl(346.8 77.2% 49.8%);
    --chat-bg-violet: hsl(262.1 83.3% 57.8%);
    --chat-bg-green: hsl(142.1 70.2% 41.3%);
    --chat-bg-yellow: hsl(47.9 95.8% 53.1%);
    --chat-bg-blue: hsl(221.2 83.2% 53.3%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .chat-bg-default { background-color: var(--chat-bg-default); }
  .chat-bg-rose { background-color: var(--chat-bg-rose); }
  .chat-bg-violet { background-color: var(--chat-bg-violet); }
  .chat-bg-green { background-color: var(--chat-bg-green); }
  .chat-bg-yellow { background-color: var(--chat-bg-yellow); }
  .chat-bg-blue { background-color: var(--chat-bg-blue); }
}

@layer utilities {
  .background-animate {
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
